<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Live Score
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-card class="welcome-card">
      <img src="/assets/bg red.jpg" alt="" class="bgimg"/>
      <ion-card-header class="score-header">
        <ion-card-subtitle class="school">Ananda College</ion-card-subtitle>
        <div class="score">
          <img src="/assets/Ananda.png" alt="" class="logomain"/>
          <ion-card-title class="points">100/1</ion-card-title>
          <div class="underpts">
            <div class="overs">Overs - 2.5</div>
            <div class="rate">Run Rate - 5.0</div>
          </div>
        </div>
        <div class="extras">
          <ion-title class="extrapts">WB - 0 | NB - 1 | LB - 2 | B - 0</ion-title>
        </div>
        <div class="players">
            <div class="batting">
              <div class="topic">Batting</div>
              <ion-title class="player player1bat"><b>Supun Tharinda*</b> - 50/0</ion-title>
              <ion-title class="player player2bat"><b>Hasala Heiyanthuduwa</b> - 48/0</ion-title> 
            </div>
            <hr>
            <div class="bowling">
              <div class="topic">Bowling</div>
              <ion-title class="player player1bowl"><b>Hasalu Botheju</b></ion-title>
              <ion-title class="player player2bowl"><b>Pahan Samudika</b></ion-title> 
            </div>
          </div>
          <ion-button class="scoreboard-btn" color="danger">View Scoreboard</ion-button>
      </ion-card-header>      
    </ion-card>
</ion-content>
  
<ion-footer>
  <ion-toolbar color="danger">
    <img src="/assets/logo.png" class="logo" height="30px">
    <ion-title class="acicts">POWERED BY ANANDA COLLEGE ICT SOCEITY</ion-title>
  </ion-toolbar>
</ion-footer>
