@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

*{
    font-family: 'Titillium Web', sans-serif;
}

.logo{
    margin-left: 5px;
    display: inline-block;
}

.acicts{
    margin-left:-20px;
    font-size: 80%;
    margin-top: 5px;
    display: inline-block;
    position: absolute;
  }